src/*.exe
src/cryptogold
src/cryptogoldd
src/test_cryptogold
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cryptogold
#compilation and Qt preprocessor part
*.qm
Makefile
cryptogold-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
